h1 {
  font-family: 'PT Sans Narrow', Bold;
  font-size: 1.875em;
  color: #323232;
  text-align: center;
}

h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.5em;
  color: #00897f;
  font: Uppercase;
  text-align: center;
}

h3 {
  font-family: 'PT Serif', Regular;
  font-size: 1em;
  line-height: 2em;
  color: #323232;
  width: 400px;
  height: 200px;
  margin: auto;
}

.round img {
  border-radius: 50%;
  justify-content: space-between;

}

.circles {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-family: 'PT Serif', Bold;
  font-size: 1em;
  line-height: #f26522;
}

nav {
  font-family: 'PT Sans Narrow', Bold;
  font-size: 1em;
  color: #323232;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-family: 'PT Sans Narrow', Bold;
  font-size: 1.5em;
  color: #323232;
}

nav p {
  font-family: 'PT Sans Regular';
  text-align: right;
}

p {
  font-family: 'PT Serif', Regular;
  font-size: .875em;
  line-height: 1.75em
  color: #323232;
}

.align {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  content: 10px;
}

.about {
  text-align: center;
  width: 315px;
  height: 300px;
  margin: 40px;
  content: 1px;
  background-color: #EEEDEE

}

.main {
  text-align: center;
  margin:auto;
  display: block;
  width: 400px;
  height: 400px;
  margin: 100;
}

.touch{
  background: #EEEDEE;
  color: #ffffff;
  padding: 8px;
}

.section {
  display: flex;
}

.bottom-section {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  }

.in-touch {
  width: 315px;
  height: 300px;
  margin: 40px;
  background-color: white;
}

.maphero{
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
}


.site-footer{
  background: #00897f;
  color: #ffffff;
  padding: 100px;
  max-width: 100%;
  height: auto;
}
/* On devices wider than 660px */
@media(min-width: 660px) {

/* On devices wider than 940px */
@media(min-width: 940px) {
}
