body {
  width: 100%;
}

html{
  font-family: 'PT Sans', 'arial', 'sans-serif';
}

.batcat img{
margin:auto;
max-width: 100%;
}

h1 {
  font-family: 'PT Sans Narrow', 'arial';
  font-size: 1.875em;
  color: #323232;
  text-align: center;
  margin-bottom: 45px;
}

h2 {
  font-family: 'PT Sans Narrow', 'arial';
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-family: 'PT Serif Regular', 'arial';
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  color: #323232;
}

p {
  font-family: 'PT Serif Bold', 'arial';
  font-size: .875em;
  line-height: 1.75em;
  color: #323232;
  padding: 10px;
}

a {
  font-family: 'PT Serif Bold', 'arial';
  font-size: 1em;
  line-height: #f26522;
}

.round img {
  border-radius: 50%;
  justify-content: space-between;

}

.circles {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

nav {
  font-family: 'PT Sans Narrow', 'arial';
  font-size: 1em;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-family: 'PT Sans Narrow', 'arial';
  font-size: 1.5em;
  color: #323232;
}



.align {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  content: 10px;
}

.about {
  text-align: center;
  width: 280px;
  height: 300px;
  margin: 40px;
  content: 1px;
  padding: 10px;
  background-color: #EEEDEE;

}

.main {
  text-align: center;
  margin:auto;
  display: block;
  width: 600px;
  height: 150px;
}

.touch{
  background: #EEEDEE;
  color: #ffffff;
  padding: 8px;
}

.bizdeets{
text-align: left;
padding-left: 40px;
}

.section {
  display: flex;
}

.bottom-section {
  display: flex;
  justify-content: center;

  }

.in-touch {
  width: 315px;
  height: 300px;
  margin: 40px;
  background-color: white;
}

.maphero img{
  width: 100%;
}

.site-footer{
  background: #00897f;
  color: #ffffff;
  padding: 25px;
  max-width: 100%;
  height: auto;
}

/* On devices wider than 660px */
@media(min-width: 660px) {

.batcat img {
  display: inline block;
  min-width: 500px;
}


  }

/* On devices wider than 940px */
@media(min-width: 940px) {
}
