body {
  margin: 0;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li1{
  float: left;
}

.li2{
  float: right;

}

h1 {
  font-family: tahoma;
}

h2{
  font-family: tahoma;
  text-align: right;

}

h3{
  text-align: center;
  font-family: tahoma;
}

h4{
  font-family: tahoma;
  font-weight: lighter;
  text-align: justify;
  padding: 20px;

}

h5{
  font-family: tahoma;
  font-weight: lighter;
  text-align: justify;
  padding: 0 20px 20px 20px;
}

.main{
  text-align: center;
  margin:auto;
  display: block;
  width: 400px;
  height: 400px;
  margin: 100;
}

.about{
    display: inline-block;
    text-align: center;
    width: 315px;
    height: 300px;
    border: 3px solid #EEEEEE;
}

.in-touch{
  display: inline-block;
  width: 250px;
  height: 200px;
  margin: 10px;
  border: 3px solid #EEEEEE;
}


/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
